/* body */
*{
    font-family:'Gabriela';
}
/* end */
/* nav */
nav{
    padding: 8px 40px;
}
/* end */
.bold{
    font-weight: bold;
}
.top{
    margin-top: 10%;
}
.up{
    margin-top:15px;
}
  .hovblue:hover{
      color: rgb(13, 13, 233)!important;
  }
  /* pagination */
  .pagination {
    display: inline-block;
  }
  .center{
    text-align: center;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: blue;
    color: white;
    border: 1px solid blue;
  }
  .pagination a{
    font-size: 9px;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;}
  .line{
      border: 1px solid rgb(99, 98, 98);
      padding: 6px 30px;
  }
      /* pagination end */
       /* range field */
input[type=range]::-webkit-slider-thumb {
    background-color: blue;
  }
  input[type=range]::-moz-range-thumb {
    background-color: blue;
  }
  input[type=range]::-ms-thumb {
    background-color: blue;
  }
     /* range field end */
  /***** These are to edit the thumb and the text inside the thumb *****/
  input[type=range] + .thumb {
    background-color: #dedede;
  }
  input[type=range] + .thumb.active .value {
    color: blue;
  }
  /* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 94, 94); 
}
/* footer */
  footer{
      background-color: #002347!important;
  }
  .crad{
    padding: 40px;
}
  .fa{
      font-size: 25px!important;
      padding: 10px;
  }
  /* footer end */
  /* search bar */
  nav form {
    position: relative;
    height: 100%;
    background: inherit;
  }
  .nav-wrapper{
    background: inherit;
    
  }
  
  .search-close-icon{
    display: none!important;
    position: absolute;
    top: 0;
    left: 100%!important;
    padding-left: 0px;
    color: rgba(0, 0, 0, 0.54);
    transition: color .2s;
    cursor: pointer;
  }
    input.search-field {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    border: 0;
    border-radius: 5px;
    height: 36px;
    padding: 8px 8px 8px 60px;
    width: 200px;
    background: #f7f7f7;
    transition: background 0.2s, width .2s;
  }
  input.search-field:hover {
    background: #ebebeb;
  }
  .searchbox {
    position: relative;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.54);
  }
  input.search-field:focus {
    outline: none;
    width: 500px;
    color: #212121;
  }
  input.search-field:focus:hover {
    background: #f7f7f7;
  }
  .search-icon {
    position: absolute;
    top: 0;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.54);
  }
  .search-content {
    color: #303c42;
    width: 90%;
    margin: auto;
    height: auto;
    padding: 8px 10px;
  }
  .search-heading {
    color: #757575;
    display: block;
    font-size: 12px;
    line-height: 30px;
  }
  input.search-field ~ .search-popup {
    overflow: hidden;
    left: 0px;
    min-height: 50px;
    max-height: 700px;
    width: 200px;
    top: -450px; 
    position: absolute;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: width .2s, top .2s ease-in-out;
    border-radius: 2px;
    background-color: #fff;
  }
  input.search-field:focus ~ .search-popup {
    width: 500px;
    top: 50px;
  }
  nav ul.popup-list a:hover {
    background-color: initial;
  }
  nav ul.popup-list li {
    float: none;
  }
  nav ul.popup-list li a {
    line-height: 30px;
    padding: 0;
    font-size: 12px;
    color: #212121 !important;
  }
  nav ul.popup-list li a:hover {
    background-color: #f7f7f7;
  }
  
  p {
    font-size: 1.3rem;
  }
  
  .top-margin {
    margin-top: 8px;
  }
  
  @media only screen and (max-width: 600px) {
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: transparent;
    }
  
    input.search-field {
      width: 1px;
      margin-right: 0px;
      padding: 8px 25px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    input.search-field ~ .search-popup {
      width: 1px;
      margin-right: 0px;
      padding: 8px 25px;
    }
  
    .search-icon {
      top: 0;
      padding-left: 15px;
      color: rgba(0, 0, 0, 0.54);
    }
  
    input.search-field:focus {
      margin-right: 0px;
      width: 100vw;
      padding: 8px 8px 8px 50px;
    }
  
    input.search-field:focus ~ .search-popup {
      width: 100vw;
    }
  
    .search-content {
      width: 100%;
      padding: 8px 8px;
    }
  
    nav .nav-wrapper {
      margin-right: 0px;
    }
  }  
  /* checkbox styling */
  [type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid blue;
    background-color: blue;
}
.new{
  border: 2px solid gray;
  background: gray;
}
.textsize{
  font-size: 14px;
  font-weight: 100;
}
.off{
  border: 2px solid blue;
  color: blue;
  padding: 3px 10px;
}
.buyBtn{
  display: block;
}
.cursor{
   cursor: pointer;
}
.hoverBorder{
  padding: 10px 20px;
  margin-top: 20px;
}
.hoverBorder:hover{
  border: 2px solid gray;
  -webkit-transition: 2s; /* Safari */
  -webkit-transition-timing-function: linear; /* Safari */
  transition-timing-function: linear;
  transition: 2s;
}
.scoreBtn{
  border-radius: 10px;
  padding: 1px 50px;
}